.container {
  width: 50vw;
  background-color: aquamarine;
  border-radius: 30px;
  padding: 20px 100px;
}
.flex-2 {
  display: flex;
  gap: 7px;
  align-items: center;
}
.flex-2-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.offer {
  color: green;
  font-size: large;
  position: relative;
  top: -15px;
  right: 5px;
  margin: 0;
  text-align: right;
}
